In [114]:
import pandas as pd
import random

In [117]:
help(random.choice)

Help on method choice in module random:

choice(seq) method of random.Random instance
    Choose a random element from a non-empty sequence.

In [206]:
spell_df = pd.read_excel('/Users/Brad/Documents/DnD/beyond_pandas.xlsx','spell_list')
class_df = pd.read_excel('/Users/Brad/Documents/DnD/beyond_pandas.xlsx','class_spell_list')
items_df = pd.read_excel('/Users/Brad/Documents/DnD/beyond_pandas.xlsx','magic_items')

In [207]:
items_df

,begin_chance,end_chance,d100,percent_chance,item_name,table_name
0,1,50,01–50,50,Potion of healing,A
1,51,60,51–60,10,Spell scroll (cantrip) - Artificer,A
2,51,60,51–60,10,Spell scroll (cantrip) - Bard,A
3,51,60,51–60,10,Spell scroll (cantrip) - Cleric,A
4,51,60,51–60,10,Spell scroll (cantrip) - Druid,A
...,...,...,...,...,...,...
556,61,61,61,1,Armor of resistance (breastplate) - Thunder,H
557,95,95,95,1,Armor of resistance (splint) - Thunder,H
558,97,97,97,1,Armor of resistance (studded leather) - Thunder,H
559,83,83,83,1,Armor of resistance (half plate) - Thunder,I
560,90,90,90,1,Armor of resistance (plate) - Thunder,I

merge_df = class_df.merge(spell_df,how='left',left_on='Name',right_on='Spell Name')

In [208]:
def pick_spells(df,level,class_name='all',subclass_name='base',n=1):
    results = []
    spells = df[(df['Level'].str.lower()==level.lower()) & ((df['Class'].str.lower()==class_name.lower()) | (class_name == 'all')) & (df['Subclass'].str.lower()==subclass_name.lower())]['Name']
    for i in range(n):
        choice = random.choice(list(spells))
        results.append(choice)
    return results

In [209]:
def pick_items(df,table,n=1):
    results = []
    for i in range(n):
        d100 = random.randrange(1,101)
        items = df[(df['table_name'].str.upper()==table.upper()) & 
                   (df['begin_chance'] <= d100) & 
                   (df['end_chance'] >= d100)]['item_name']
        choice = random.choice(list(items))
        results.append(choice)
    return results

In [318]:
pick_spells(class_df,'1st',random.choice(['wizard','cleric','bard','warlock']),n=random.randrange(1,11))

['False Life',
 'Jump',
 'Charm Person',
 'Absorb Elements',
 'Tasha’s Hideous Laughter',
 'Disguise Self',
 'Cause Fear']

In [265]:
pick_items(items_df,table=random.choice(['a','b','c','d','e','f','g','h','i']),n=random.randrange(1,7))

['Spell scroll (9th level) - Cleric',
 'Potion of storm giant strength',
 'Spell scroll (8th level) - Warlock',
 'Spell scroll (8th level) - Bard',
 'Arrow of slaying',
 'Potion of storm giant strength']

In [89]:
class_name = 'wizard'
subclass_name = 'base'
level = '1st'
party = ['wizard','cleric','peace','bard','warlock','fiend']

In [131]:
pd.DataFrame(pd.Series(range(0,100),name='d100').apply(lambda x: x+1))

    d100
0      1
1      2
2      3
3      4
4      5
..   ...
95    96
96    97
97    98
98    99
99   100

[100 rows x 1 columns]

In [141]:
random.randrange(1,101)

17